.home {
  margin-left: 117px;
}

.graph_cards {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.graph {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 850px;
  width: 100%;
  margin-right: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error_message {
  text-align: center;
  margin-top: 100px;
  font-weight: 800;
  font-size: 50px;
}

@media screen and (max-width: 1024px) {
  .home {
    margin-left: 80px;
  }

  .graph {
    max-width: 600px;
    width: 100%;
  }

  .graph_cards {
    margin-left: 10px;
    margin-right: 10px;
  }
}
