.home {
  margin-left: 117px;
}

.graph_cards {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.graph {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 850px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
