.today_score_graph {
  max-width: 260px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  position: relative;
}

.today_score {
  background-color: white;
  max-width: 145px;
  max-height: 145px;
  width: 100%;
  height: 100%;
  border-radius: 145px;
  position: absolute;
  top: 57px;
  left: 57px;
  z-index: 2;
}

.today_score_txt {
  text-align: center;
  padding-top: 40px;
  font-weight: 800;
}

.today_score_title {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  color: black;
}
