.card {
  display: flex;
  justify-content: space-around;
  width: 250px;
  height: 120px;
  background-color: #fbfbfb;
}

.card_content {
  padding-right: 10px;
}

.card_value {
  font-size: 800;
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
}
